@using PointEx.Web.Configuration
@model PointEx.Web.Models.ReportBeneficiariesFiltersModel

<div id="filter-container" class="collapse">
    @using (Html.BeginForm(Model.ReportName, "Report", FormMethod.Get, new { area = "Admin" }))
    {
        <div class="row">
            <div class="col-sm-4">
                @Html.EditorFor(model => model.From)
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.To)
            </div>
            <div class="col-sm-4">
                @Html.EditorFor(model => model.Sex)
            </div>
        </div>
        <div class="spacer">
        </div>
        <div class="row">
            <div class="col-sm-4">
                @Html.EditorFor(model => model.TownId)
            </div>
            @if (AppSettings.ShowEducationalInstitution)
            {
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.EducationalInstitutionId)
                </div>
            }
            <div class="col-sm-4 pull-right">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
    }
</div>
