@model PointEx.Web.Models.PrizeForm

@{
    ViewBag.Title = PointExResources.CreatePrizeTitle;
}

<h3>@PointExResources.CreatePrizeTitle</h3>

@Html.BackButton("Index", "Prize", "Admin")
<hr />

@using (Html.BeginForm("Create", "Prize", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Premio" class="btn btn-default" />
        </div>
    </div>
}