@model PointEx.Web.Models.PrizeForm

@{
    ViewBag.Title = PointExResources.EditPrizeTitle;
}

<h3>@PointExResources.EditPrizeTitle</h3>
@Html.BackButton("Index", "Prize", "Admin")
<hr />
@using (Html.BeginForm("Edit", "Prize", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar Premio" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{
    <script>
        $('#Files').on('fileloaded', function (event, file, previewId, index, reader) {
            $("#btnSubmit").removeAttr("disabled");
        });

        $('#Files').on('fileclear', function (event) {
            $("#btnSubmit").removeAttr("disabled");
        });

        $("#Files").on('fileuploaderror', function (event, data, previewId, index) {
            $("#btnSubmit").attr("disabled", "true");
        });
    </script>
}