@using Framework.Common.Extentensions
@using Framework.Common.Web.Helpers
@using PointEx.Web.Infrastructure.Extensions
@using PointEx.Web.Models
@using PointEx.Entities.Enums
@model PointEx.Web.Models.BenefitDetailModel
@{
    ViewBag.Title = Model.Benefit.Name;
}

@section ContainerTop{
    @Html.Partial("_SearchBenefits", model: new BenefitListFiltersModel())
}
<div class="thumbnail">
    @{
        var benefitIndex = 0;
    }

    @if (Model.Benefit.BenefitFiles.Any())
    {
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

                @foreach (var image in Model.Benefit.BenefitFiles)
                {

                    <li data-target="#carousel-example-generic"
                        data-slide-to="@benefitIndex"
                        @(image == Model.Benefit.BenefitFiles.First() ? "active" : string.Empty)></li>

                    benefitIndex++;
                }
            </ol>
            <div class="carousel-inner">


                @foreach (var image in Model.Benefit.BenefitFiles)
                {
                    <div class="item @(image == Model.Benefit.BenefitFiles.First() ? "active" : string.Empty)">
                        <img class="slide-image active" src="@image.File.GetUrl(800, 300)" alt="">
                    </div>
                }
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    }

    <div class="caption-full">
        @if (Model.Benefit.BenefitTypeId == BenefitTypesEnum.Discount)
        {
        <h1 class="pull-right benefit-type-info-detail">@Model.Benefit.DiscountPercentage.GetValueOrDefault().ToPercentageString()</h1>
        }
        else
        {
            <h1 class="pull-right benefit-type-info-detail">@(Model.Benefit.BenefitType == null ? string.Empty : Model.Benefit.BenefitType.Name)</h1>
        }        
        <h3 class="benefit-name-detail">
            @Model.Shop.Name <a href="#">@Model.Benefit.Name</a>
        </h3>
        @if (!Model.BranchOffices.Any())
        {
            <h4>
                Direccion: @Model.Shop.Address
            </h4>
            <h4>
                Teléfono: @Model.Shop.Phone
            </h4>
        }

        <p class="benefit-description">
            @Model.Benefit.Description
        </p>
        <p class="benefit-description">
            Vigencia hasta: @Model.Benefit.DateTo.ToShortDateString()
        </p>
        <div> @Html.SocialLinkButtons(Model.Benefit.Name, Request.Url.ToString()) </div>
    </div>
    <div class="ratings">
        @*<p class="pull-right">3 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                4.0 stars
            </p>*@
    </div>
</div>
<!-- Map Section -->
@if (!Model.BranchOffices.Any())
{
    <div class="branch-office-location-container">
        @Html.DisplayFor(model => model.Shop.Location, new { width = "100%", height = "300px", hide_input = true })
    </div>
}
else
{
    <h4>
        Sucursales:
    </h4>
    <div class="branch-office-location-container">
        <div class="col-xs-2">
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a href="#main-branch-office" class="branch-office" data-toggle="tab">@Model.Shop.Address <br />Tel: @Model.Shop.Phone</a></li>
                @foreach (var branchOffice in Model.BranchOffices)
                {
                    <li><a href="#branch-office-@branchOffice.Id" class="branch-office" data-toggle="tab">@branchOffice.Address <br />Tel: @branchOffice.Phone</a></li>
                }
            </ul>
        </div>

        <div class="col-xs-10">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="main-branch-office">
                    <div>
                        @Html.DisplayFor(model => model.Shop.Location, new { width = "100%", height = "300px", hide_input = true })
                    </div>
                </div>
                @foreach (var branchOffice in Model.BranchOffices)
                {
                    <div class="tab-pane" id="branch-office-@branchOffice.Id">
                        <div>
                            @Html.DisplayFor(model => branchOffice.Location, new { width = "100%", height = "300px", hide_input = true })
                        </div>
                    </div>
                }

                @section scripts
                {
                    <script>
                        $(document).on('shown.bs.tab', 'a.branch-office', function (e) {
                            var tabConteiner = $($(this).attr('href'));
                            var $mapCanvas = $('.map-canvas', tabConteiner);
                            var map = $mapCanvas.data('map');
                            var center = map.getCenter();
                            google.maps.event.trigger(map, 'resize');
                            map.setCenter(center);
                        });
                    </script>
                }

            </div>
        </div>
    </div>
}

<div class="spacer">
</div>
<div class="spacer">
</div>

<div class="fb-comments col-lg-12" data-width="100%" data-href="@Request.Url" data-numposts="5"></div>

<div class="spacer">
</div>
<div class="spacer">
</div>

@*<div class="well">
        <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">12 days ago</span>
                <p>I've alredy ordered another one!</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">15 days ago</span>
                <p>I've seen some better than this, but not at this price. I definitely recommend this item.</p>
            </div>
        </div>
    </div>*@