<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Puntos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render(String.Format("~/Themes/{0}/css", PointEx.Web.Configuration.AppSettings.Theme))
    @Styles.Render("~/Content/Site.Beneficiary.css")
    @Styles.Render("~/Content/front-end/css")
</head>
<body>
    @Html.Partial("_FacebookInit")

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Puntos", "Index", new {area = "Beneficiary", controller = "Profile"}, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Mi Cuenta", "Index", new { area = "Beneficiary", controller = "Profile" })</li>
                    <li>@Html.ActionLink("Catálogo de Premios", "Index", new { area = "Beneficiary", controller = "Prize" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <table class="layout-container">
            <tr>
                <td class="td-menu-lateral">
                    @Html.Partial("~/Areas/Beneficiary/Views/Shared/_MenuLateral.cshtml")
                </td>
                <td>
                    <div class="layout-body">
                        @RenderBody()
                    </div>
                </td>
            </tr>
        </table>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PointEx</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")

    @Html.Partial("_TwitterInit")
    @Html.Partial("_GooglePlusInit")

    @RenderSection("scripts", required: false)
</body>
</html>