<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render(String.Format("~/Themes/{0}/css", PointEx.Web.Configuration.AppSettings.Theme))
    @Styles.Render("~/Content/Site.Beneficiary.css")
    @Styles.Render("~/Content/front-end/css")
</head>
<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '431638360261462',
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="navbar navbar-fixed-top nav-bar-beneficiary menu-superior-container">
        <div class="container">
            <div class="menu">
                <ul>
                    <li><a href="/Beneficiary/Profile/Index">Home</a></li>
                    <li><a href="/Beneficiary/Profile/Index">Mi Cuenta</a></li>
                    <li>@Html.ActionLink("Catálogo", "Index", new { area = "Beneficiary", controller = "Prize" })</li>
                </ul>
            </div>
            <div class="buscador">
                @RenderSection("ContainerTop", required: false)
            </div>
        </div>
    </div>

    <div class="container body-content">
        <table class="layout-container">
            <tr>
                <td class="td-menu-lateral">
                    @Html.Partial("~/Areas/Beneficiary/Views/Shared/_MenuLateral.cshtml")
                </td>
                <td>
                    <div class="layout-body">
                        @RenderBody()
                    </div>
                </td>
            </tr>
        </table>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PointEx</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")


    <script>
        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id; js.src = p + '://platform.twitter.com/widgets.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'twitter-wjs');
    </script>
    <script type="text/javascript">
        (function () {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>