@using PointEx.Security
@using PointEx.Web.Models


<div class="menulateral">
    <div class="stars">
        <img src="/Content/images/stars.png"/>
    </div>
    <div class="buscador">
        @Html.Partial("_SearchPrizes", model: new PrizeListFiltersModel())
    </div>

    <div class="img">
        <img src="@ViewBag.PictureUrl" />
    </div>

    <div class="item">
        Hola <br/>
        <div class="nombre">
            @this.CurrentUser().Beneficiary.Name
        </div>
    </div>
    <br/>
    <div class="item">
        Tus Puntos:
        <div class="tus-puntos">
            @this.CurrentUser().Beneficiary.Points.ToString("##,###")
        </div>
    </div>

    <a href="@Url.Action("Index", new {WithinReach = true, Area = "Beneficiary", Controller = "Prize"})">CANJE DE PUNTOS</a>
    <br/>
    <a href="/Beneficiary/Profile/History">Ver Detalle</a>
</div>
