@using Framework.Common.Extentensions
@using PointEx.Web.Infrastructure.Extensions
@using PointEx.Web.Models
@using PointEx.Entities.Enums
@model PointEx.Web.Models.HomeModel
@{
    ViewBag.Title = "Home Page";
}

@section ContainerTop{
    @Html.Partial("_SearchBenefits", model: new BenefitListFiltersModel())
}

<div class="col-md-3">
    <p class="lead">Categorias</p>
    <div class="list-group">
        @foreach (var category in Model.Categories)
        {
            <a href="@Url.Action("Index", "Benefit", new { categoryId = category.Id })" class="list-group-item"><i class="@category.IconClass"></i> @category.Name</a>
        }
    </div>
</div>
<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                @{
                    var sliderItemIndex = 0;
                }
                <ol class="carousel-indicators">
                    @foreach (var item in Model.SliderItems)
                    {
                        <li data-target="#carousel-example-generic"
                            data-slide-to="@sliderItemIndex"
                            @(item == Model.SliderItems.First() ? "active" : string.Empty)></li>

                        sliderItemIndex++;
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var item in Model.SliderItems)
                    {
                        <div class="item @(item == Model.SliderItems.First() ? "active" : string.Empty)">
                            <img class="slide-image active" src="@item.GetImageUrl(800, 300)" alt="">
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <h2>DESTACADOS</h2>
    <div class="row">
        @foreach (var benefit in Model.OutstandingBenefits)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="@benefit.GetDefaultImageUrl(320,150)" alt="">
                    <div class="caption">
                        @if (benefit.BenefitTypeId == BenefitTypesEnum.Discount)
                        {
                            <h4 class="pull-right">@benefit.DiscountPercentage.GetValueOrDefault().ToPercentageString()</h4>
                        }
                        else
                        {
                            <h4 class="pull-right">@(benefit.BenefitType == null ? string.Empty : benefit.BenefitType.Name)</h4>
                        }
                        <h4>
                            <a href="@benefit.GetDetailUrl()">@benefit.Shop.Name</a>
                        </h4>
                        <p class="benefit-description">
                            @benefit.Description
                        </p>                        
                    </div>
                    <div class="ratings">
                        @*<p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>


