@model PointEx.Web.Models.EducationalInstitutionForm

@{
    ViewBag.Title = PointExResources.EducationalInstitutionDetailTitle;
}

<h3>@PointExResources.EducationalInstitutionDetailTitle</h3>
@Html.BackButton("Index", "EducationalInstitution", "Admin")
<hr />
@using (Html.BeginForm("Edit", "EducationalInstitution", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar Est. Educativo" class="btn btn-default" />
        </div>
    </div>
}