@using Framework.Common.Extentensions
@using Microsoft.Web.Mvc
@using PagedList.Mvc
@using PointEx.Web.Infrastructure.Extensions
@model PointEx.Web.Models.PrizeListModel
@{
    ViewBag.Title = "Premios";
}
<h2>Listado de premios</h2>

<hr>
@foreach (var prize in Model.List)
{
    <div class="row">
        <div class="col-md-3">
            <a href="@prize.GetDetailUrl()" class="prize-image">
                @Html.Image(prize.GetImageUrl(200, 150))
            </a>
        </div>
        <div class="col-md-9" style="padding-left: 55px;">
            <h3 class="prize-link">@prize.Name: @Html.ActionLink(prize.Name, "Detail", "Prize", routeValues: new { area = "", prize.Id }, htmlAttributes: null)</h3>
            <h4>Puntos Necesarios: @prize.PointsNeeded</h4>
            <p class="prize-description">@prize.Description</p>
            <a class="btn btn-primary" href="@prize.GetDetailUrl()">Ver<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <hr>
}

@Html.PagedListPager(Model.List, page => Url.Action("Index", "Prize", Model.Filters.GetRouteValues(page)))