@using Framework.Common.Extentensions
@using PagedList.Mvc
@model PointEx.Web.Models.AddBenefitModel
@{
    ViewBag.Title = "Agregar Items";
}
@section banner{
    <img src="/Content/images/banner_secciones.jpg" width="100%" alt="Contenido de Secciones" /><br /><br />
}

<h3>Agregar Beneficios Sección: <strong>@Model.SectionName</strong></h3>
@Html.BackButton("Index", "SectionItem", new { area = "Admin", sectionId = Model.SectionId })
<hr />

@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("_BenefitFilters", Model)

<div class="spacer">
</div>

@Html.Partial("SelectBenefitList", Model)

