@using PointEx.Web.Areas.Admin
@using PointEx.Web.Areas.Shop.Models
@using Framework.Common.Extentensions
@using PagedList.Mvc
@using PointEx.Entities.Enums
@model PointEx.Web.Models.BenefitListModel

@{
    ViewBag.Title = ViewBag.TabTitle;
}

@section banner{
    <img src="/Content/images/banner-beneficios.jpg" width="100%" alt="Beneficios" />
}
<h3>@ViewBag.Title</h3>

@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("Benefit/_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="text-right">Procentaje de Descuento</th>
            <th class="text-right">Tope Porcentaje de Descuento</th>
            <th class="text-right">Tipo</th>
            <th class="text-right">Estado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var benefit in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(benefit.Name, "Detail", "Benefit", routeValues: new { area = "Shop", benefit.Id }, htmlAttributes: null)</td>
                <td class="text-right">@benefit.DiscountPercentage.GetValueOrDefault().ToPercentageString()</td>
                <td class="text-right">@benefit.DiscountPercentageCeiling.GetValueOrDefault().ToString("c2")</td>
                <td class="text-right">@benefit.BenefitTypeName</td>
                <td class="text-right">@benefit.BenefitStatusName</td>                
                <td class="text-right"> 
                    @if (ViewBag.ViewMode == BenefitStatusEnum.Pending)
                    {
                        <button type="button" class="btn btn-primary" onclick="location.href = '/Shop/Benefit/Detail/@benefit.Id';">Detalle</button>
                    }
                    @if (ViewBag.ViewMode == BenefitStatusEnum.Approved)
                    {
                        @Html.Partial("Benefit/_RejectButton", new ViewDataDictionary { { "Id", benefit.Id } })
                    }
                    @if (ViewBag.ViewMode == BenefitStatusEnum.Rejected)
                    {
                        @Html.Partial("Benefit/_ApproveButton", new ViewDataDictionary { { "Id", benefit.Id } })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))
