<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Puntos Admin</title>
    @Styles.Render("~/Content/css")
    @Styles.Render(String.Format("~/Themes/{0}/css", PointEx.Web.Configuration.AppSettings.Theme))
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Administración", "Index", new { area = "Admin", controller = "Shop" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{ Html.RenderAction("Menu", "Layout", new { area = "Admin" });}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderSection("banner", required: false)
        <div class="container alert-container" style="padding-left: 0 !important;"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; Admin</p>
        </footer>
    </div>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
    @Html.Partial("_Alerts")

    <style>
        .alert-success {
            width: 1170px !important;
        }

        .loginTekove {
            padding-top: 0px !important;
        }

        footer {
            background-image: none !important;
        }
    </style>
</body>
</html>
