@model PointEx.Web.Models.BeneficiaryCardsModel
<h3>Tarjetas Beneficiario:  <strong>@(Model.Beneficiary.Name)</strong></h3>

<div>
    @Html.BackButton("Detail", "Beneficiary", new { area = "Admin", Model.Beneficiary.Id }, "Volver al detalle")

    @if (Model.Cards.All(c => c.EndDate.HasValue))
    {
        @Html.ActionLink("Crear Tarjeta", "CreateCard", "Beneficiary", routeValues: new { area = "Admin", beneficiaryId = Model.Beneficiary.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    }
</div>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Fecha de Expedición</th>
            <th>Número</th>
            <th>Fecha Cancelación</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.IssueDate.ToShortDateString()</td>
                <td>@card.Number</td>
                <td>
                    @if (!card.EndDate.HasValue)
                    {
                        using (Html.BeginForm("CancelCard", "Beneficiary", new {id = card.Id}, FormMethod.Post, new {@class = "cancel-card-form"}))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-warning">Cancel</button>
                        }
                    }
                    else
                    {
                        @card.EndDate.Value.ToShortDateString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $(".cancel-card-form").on("submit", function () {
                return confirm("Esta seguro que desea cancelar esta tarjeta?  Esta operacion no se puede deshacer.");
            });
        });
    </script>
}
