@using PointEx.Web.Configuration
@model PointEx.Web.Models.BeneficiaryCardsModel

@section banner{
    <img src="/Content/images/banner-beneficiarios.jpg" width="100%" alt="Beneficios" /><br /><br />
}

<h3>Tarjetas de Beneficiario:  &nbsp;<strong>@(Model.Beneficiary.Name)</strong></h3>

<div>
    @Html.BackButton("Detail", "Beneficiary", new { area = "Admin", Model.Beneficiary.Id }, "Volver al detalle")

    @if (AppSettings.Theme == ThemeEnum.Jovenes)
    {
        @Html.ActionLink("Crear Tarjeta", "CreateCard", "Beneficiary", routeValues: new { area = "Admin", beneficiaryId = Model.Beneficiary.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    }
    else
    {
        using (Html.BeginForm("GenerateCard", "Beneficiary", new { area = "Admin", id = Model.Beneficiary.Id }, FormMethod.Post, new { @class = "generate-form" }))
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Generar tarjeta</button>
        }

    }
    

</div>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Fecha de expedición</th>
            <th>Número</th>
            @if (AppSettings.Theme == ThemeEnum.Jovenes)
            {
                <th>Fecha  de vencimiento</th>
            }
            <th>Fecha de cancelación</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.IssueDate.ToShortDateString()</td>
                <td>@card.Number</td>
                @if (AppSettings.Theme == ThemeEnum.Jovenes)
                {
                    <td>@card.ExpirationDate.GetValueOrDefault().ToShortDateString()</td>
                }
                <td>
                    @if (!card.EndDate.HasValue)
                    {
                        using (Html.BeginForm("CancelCard", "Beneficiary", new {id = card.Id}, FormMethod.Post, new {@class = "cancel-card-form"}))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-warning">Cancelar</button>
                        }
                    }
                    else
                    {
                        @card.EndDate.Value.ToShortDateString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function() {
            $(".cancel-card-form").on("submit", function() {
                return confirm("Está seguro que desea cancelar esta tarjeta?  Esta operación no se puede deshacer.");
            });

            $(".generate-form").on("submit", function () {
                return confirm("Si existen tarjetas previas del beneficiario, éstas quedarán inactivas luego de la generación de una nueva tarjeta. Está seguro que desea continuar?");
            });
        });
    </script>
}

<style>
    form.generate-form {
        display: inline;
    }
</style>