@model PointEx.Web.Models.BeneficiaryCardsModel
<h3>Tarjetas Beneficiario:  <strong>@(Model.Beneficiary.Name)</strong></h3>

<div>
    @Html.BackButton("Detail", "Beneficiary", new { area = "Admin", Model.Beneficiary.Id }, "Volver al detalle")

    @using (Html.BeginForm("GenerateCard", "Beneficiary", new { area = "Admin", id = Model.Beneficiary.Id }, FormMethod.Post, new { @class = "generate-form" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">Generar tarjeta</button>
    }
</div>

<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Fecha de Expedición</th>
            <th>Número</th>
            <th>Fecha Cancelación</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.IssueDate.ToShortDateString()</td>
                <td>@card.Number</td>
                <td>
                    @if (!card.EndDate.HasValue)
                    {
                        using (Html.BeginForm("CancelCard", "Beneficiary", new {id = card.Id}, FormMethod.Post, new {@class = "cancel-card-form"}))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-warning">Cancel</button>
                        }
                    }
                    else
                    {
                        @card.EndDate.Value.ToShortDateString()
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(function () {
            $(".generate-form").on("submit", function () {
                return confirm("Si existen tarjetas previas del beneficiario, éstas quedarán inactivas luego de la generación de una nueva tarjeta. Está seguro que desea continuar?");
            });
        });
    </script>
}

<style>
    form.generate-form {
        display: inline;
    }
</style>