@using PointEx.Web.Configuration
@model PointEx.Web.Models.BeneficiaryForm
@{
    ViewBag.Title = PointExResources.CreateBeneficiaryTitle;
}

@section banner{
    <img src="/Content/images/banner-beneficiarios.jpg" width="100%" alt="Beneficios" /><br /><br />
}

<h3>@PointExResources.CreateBeneficiaryTitle</h3>
@Html.BackButton("Index", "Beneficiary", "Admin")
<hr />
@using (Html.BeginForm("Create", "Beneficiary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.Partial("Beneficiary/_CreateEditControls")
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Beneficiario"  class="btn btn-default" />
        </div>
    </div>
}

@section scripts{
    <script>
        $(function () {
            if ('@AppSettings.Theme' == 'Jovenes') {
                $('#EducationalInstitutionId').prop('disabled', true);

                var $town = $("#TownId");
                $town.on("change", function(e) {
                    var id = $(this).val();
                    if (id) {
                        $('#EducationalInstitutionId').prop('disabled', true);
                        $.getJSON('/EducationalInstitution/GetListByTown/' + id, function(data) {
                            $('#EducationalInstitutionId').prop('disabled', false);

                            $("#EducationalInstitutionId").select2({
                                data: data
                            });
                        });
                    } else {
                        $("#EducationalInstitutionId").select2({
                            data: []
                        });
                        $('#EducationalInstitutionId').prop('disabled', true);
                    }
                });
            }
        });
    </script>
}
