@model PointEx.Web.Models.BeneficiaryForm

@{
    ViewBag.Title = PointExResources.EditBeneficiaryTitle;
}

<h3>@PointExResources.EditBeneficiaryTitle</h3>
@Html.BackButton("Index", "Beneficiary", "Admin")
<hr />
@using (Html.BeginForm("Edit", "Beneficiary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.Partial("Beneficiary/_CreateEditControls")
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@PointExResources.EditBeneficiaryTitle" class="btn btn-default" />
        </div>
    </div>
}