@model PointEx.Web.Models.BeneficiaryForm

@{
    ViewBag.Title = PointExResources.EditBeneficiaryTitle;
}

<h2>@PointExResources.EditBeneficiaryTitle</h2>
@using (Html.BeginForm("Edit", "Beneficiary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@PointExResources.EditBeneficiaryTitle" class="btn btn-default" />
        </div>
    </div>
}