@using PagedList.Mvc
@using PointEx.Web.Configuration
@model PointEx.Web.Models.BeneficiaryListModel


@section banner{
    <img src="/Content/images/banner-beneficiarios.jpg" width="100%" alt="Beneficios" /><br /><br />
}

@Html.ActionLink("Crear Beneficiario", "Create", "Beneficiary", routeValues: new { area = "Admin" }, htmlAttributes: new { @class = "btn btn-primary" })

@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre y Apellido</th>
            <th>Direccion</th>
            <th>Localidad</th>
            @if (AppSettings.Theme == ThemeEnum.TarjetaVerde)
            {
                <th>Establecimiento Educativo</th>
            }
            
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var beneficiary in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(beneficiary.Name, "Detail", "Beneficiary", routeValues: new { area = "Admin", beneficiary.Id }, htmlAttributes: null)</td>
                <td>TODO</td>
                <td>@beneficiary.TownName</td>
                @if (AppSettings.Theme == ThemeEnum.TarjetaVerde)
                {
                    <td>@beneficiary.EducationalInstitutionName</td>
                }
                
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))