@using Framework.Common.Web.Helpers
@model PointEx.Web.Models.ShopEditForm

<div class="form-group">
    @Html.BootstrapLabelFor(model => model.Name)
    <div class="col-md-10">
        @Html.DisplayFor(model => model.Name)        
    </div>
</div>
<div class="form-group">
    @Html.BootstrapLabelFor(model => model.Address)
    <div class="col-md-10">
        @Html.EditorFor(model => model.Address)
        @Html.ValidationMessageFor(model => model.Address)
    </div>
</div>
<div class="form-group">
    @Html.BootstrapLabelFor(model => model.TownId)
    <div class="col-md-10">
        @Html.EditorFor(model => model.TownId)
        @Html.ValidationMessageFor(model => model.TownId)
    </div>
</div>
<div class="form-group">
    @Html.BootstrapLabelFor(model => model.CategoriesSelected)
    <div class="col-md-10">
        @Html.EditorFor(model => model.CategoriesSelected)
        @Html.ValidationMessageFor(model => model.CategoriesSelected)
    </div>
</div>

<div class="form-group">
    @Html.BootstrapLabelFor(model => model.Location)
    <div class="col-md-10">
        @Html.EditorFor(model => model.Location)
        @Html.ValidationMessageFor(model => model.Location)
    </div>
</div>