@model PointEx.Web.Models.BenefitForm

@{
    ViewBag.Title = PointExResources.CreateBenefitTitle;
}

@section banner{
    <img src="/Content/images/banner-beneficios.jpg" width="100%" alt="Beneficios" />
}

<h3>@PointExResources.CreateBenefitTitle</h3>

@Html.BackButton("Index", "Benefit", "Shop")
<hr />

@using (Html.BeginForm("Create", "Benefit", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "create-edit-benefit-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Beneficio" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/Scripts/app/create-edit-benefit.js")
}