@model PointEx.Web.Models.BenefitForm

@{
    ViewBag.Title = PointExResources.CreateBenefitTitle;
}

<h3>@PointExResources.CreateBenefitTitle</h3>

@Html.BackButton("Index", "Benefit", "Shop")
<hr />

@using (Html.BeginForm("Create", "Benefit", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Beneficio" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{
    <script>
        $(function () {
            $(".form-horizontal").on("submit", function () {
                return alert("El beneficio tendrá que ser revisado. Durante dicho período, el beneficio no estará disponible.");
            });
        });
    </script>
}