@model PointEx.Web.Models.BenefitForm

@{
    ViewBag.Title = PointExResources.DetailBenefitTitle;
    if (ViewBag.ReturnController == "Admin")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
}

<h3>@PointExResources.DetailBenefitTitle</h3>
@Html.BackButton("Index", "Benefit", (string)ViewBag.ReturnController)
@Html.ActionLink("Imagenes", "Index", "BenefitFile", routeValues: new { area = "Shop", benefitId = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
<hr />
<div class="form-horizontal">
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.Name)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Name)            
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.Description)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Description)            
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.BenefitTypeId)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.BenefitTypeId)            
        </div>
    </div>
    <div class="form-group hiddenByBenefitType">
        @Html.BootstrapLabelFor(model => model.DiscountPercentage)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DiscountPercentage)            
        </div>
    </div>
    <div class="form-group hiddenByBenefitType">
        @Html.BootstrapLabelFor(model => model.DiscountPercentageCeiling)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DiscountPercentageCeiling)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.DateFrom)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DateFrom)            
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.DateTo)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DateTo)
        </div>
    </div>
    <div class="form-group">
        @Html.BootstrapLabelFor(model => model.BranchOfficesSelected)
        <div class="col-md-10">
            @Html.DisplayFor(model => model.BranchOfficesSelected)            
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @using (Html.BeginForm("Delete", "Benefit", new { id = Model.Id }, FormMethod.Post, new { id = "delete-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-lg-12">
                        @Html.ActionLink("Editar Beneficio", "Edit", "Benefit", routeValues: new { area = "Shop", Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                        <button type="submit" class="btn btn-warning">Eliminar Beneficio</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@if (ViewBag.IsApproved)
{
    <div class="col-md-offset-2 col-sm-pull-10">
        <img src="/Content/images/pointex-approved.jpg?width=320&height=150" alt="Disponible" title="Disponible" />
    </div>
}


@section scripts
{
    <script>
        $(function () {
            $("#delete-form").on("submit", function () {
                return confirm("Esta seguro que desea eliminar este beneficio?  Esta operacion no se puede deshacer.");
            });
        });       

        $(function () {
            var typeValue = $("#BenefitTypeId").attr("data-id");            
            if (typeValue != 1) {
                $(".hiddenByBenefitType").closest(".form-group").hide();                
            }
            else {
                $(".hiddenByBenefitType").closest(".form-group").show();
            }
        });
    </script>
}
