@model PointEx.Web.Models.BenefitForm
@{
    ViewBag.Title = PointExResources.EditBenefitTitle;
}

@section banner{
    <img src="/Content/images/banner-beneficios.jpg" width="100%" alt="Beneficios" />
}

<h3>@PointExResources.EditBenefitTitle</h3>
@Html.BackButton("Index", "Benefit", "Shop")
<hr />
@using (Html.BeginForm("Edit", "Benefit", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "create-edit-benefit-form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Editar Beneficio" name="formSubmit" class="btn btn-default" />
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/Scripts/app/create-edit-benefit.js")
}