@using Framework.Common.Extentensions
@using PagedList.Mvc
@model PointEx.Web.Models.BenefitListModel

@section banner{
    <img src="/Content/images/banner-beneficios.jpg" width="100%" alt="Beneficios" /><br /><br />
}

@Html.ActionLink("Crear Beneficio", "Create", "Benefit", routeValues: new { area = "Shop" }, htmlAttributes: new { @class = "btn btn-primary" })

@Html.FilterButton()

<div class="spacer">
</div>

@Html.Partial("Benefit/_Filters", Model.Filters)

<div class="spacer">
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th class="text-right">Procentaje de Descuento</th>
            <th class="text-right">Tope Porcentaje de Descuento</th>
            <th class="text-right">Tipo</th>
            <th class="text-right">Estado</th>
        </tr>
    </thead>
    <tbody class="row-link" data-link="row">
        @foreach (var benefit in Model.List)
        {
            <tr>
                <td>@Html.ActionLink(benefit.Name, "Detail", "Benefit", routeValues: new { area = "Shop", benefit.Id }, htmlAttributes: null)</td>
                <td class="text-right">@benefit.DiscountPercentage.GetValueOrDefault().ToPercentageString()</td>
                <td class="text-right">@benefit.DiscountPercentageCeiling.GetValueOrDefault().ToString("c2")</td>
                <td class="text-right">@benefit.BenefitTypeName</td>
                <td class="text-right">@benefit.BenefitStatusName</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model.List, page => Url.Action("Index", Model.Filters.GetRouteValues(page)))