@using Microsoft.AspNet.Identity
@using Framework.Common.Web.Extensions;
@using PointEx.Security
@using PointEx.Service;
@using PointEx.Web.Configuration
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="padding-top: 25px !important;">
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    @if (!this.User.IsInRole(RolesNames.Shop))
                    {
                        <text>
                            @User.Identity.GetUserName()
                        </text>
                    }
                    else
                    {
                        <text>
                            @this.CurrentUser().Shop.Name.ToUpper()
                        </text>
                    }

                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Cambiar Contraseña", "ChangePassword", new { area = "", controller = "Manage" })</li>
                </ul>
            </li>

            <li>

                @if (PointEx.Web.Helpers.UrlHelper.IsInPublicSection())
                {
                    <a href="/Home/RedirectToDefault" style="float: left; margin-right: 10px;" title="Perfil">(ENTRAR)</a>
                }

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><strong>SALIR</strong></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("INGRESAR", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
