@using PointEx.Web.Configuration
@using PointEx.Web.Models
@model PointEx.Entities.Beneficiary
@{
    ViewBag.Title = "Información Personal";
    Layout = "~/Areas/Beneficiary/Views/Shared/_Layout.cshtml";
}

@section banner{
    <img src="/Content/images/banner_micuenta.jpg" width="100%" alt="" />
}


<h2>Información Personal</h2>

<div class="form-horizontal">
    <table class="profile-table">
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.Name)
            </td>
            <td class="col2">
                @Model.Name
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.BirthDate)
            </td>
            <td class="col2">
                @(Model.BirthDate == null ? string.Empty : Model.BirthDate.Value.ToShortDateString())
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.Sex)
            </td>
            <td class="col2">
                @(Model.Sex == 1 ? "Masculino" : "Femenino")
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.Address)
            </td>
            <td class="col2">
                @Model.Address
            </td>
        </tr>
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.TownId)
            </td>
            <td class="col2">
                @Model.Town.Name
            </td>
        </tr>
        @if (AppSettings.Theme == ThemeEnum.Jovenes)
        {
            <tr>
                <td class="col1">
                    @Html.LabelFor(model => model.EducationalInstitutionId)
                </td>
                <td class="col2">
                    @Model.EducationalInstitution.Name
                </td>
            </tr>
        }
    </table>
</div>



